/* global utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
}
/* navigation-bar */
.nav {
  display: flex;
  padding: 0 2em;
  justify-content: space-between;
  align-items: center;
  background-color: #0277bd;
  position: fixed;
  width: 100%;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
  position: relative;
}
.menu-links {
  display: flex;
  position: relative;
}
.menu-links li {
  list-style: none;
  padding: 1.5em 2em;
}
.menu-links li:hover {
  transition: 0.5s ease;
}
.menu-links li a {
  text-decoration: none;
  color: #fff;
}
.dropdown {
  display: none;
  position: absolute;
  top: 4.1em;
  padding: 0;
  margin-left: -2em;
  margin-bottom: 0;
  background-color: #f7f7f7;
}
.dropdown li:hover {
  background-color: #e8e9eb;
}
.dropdown li a {
  color: #333333;
}
.submenu-links {
  cursor: pointer;
}
.submenu-links i {
  color: #f7f7f7;
}
.hamburger {
  display: none;
  font-size: 1.5em;
  color: #ffffff;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}
.menu-links .btn {
  background-color: #ffa458;
  border-radius: 2em;
  color: #f7f7f7;
  font-weight: bold;
  padding: 0em 1em;
  margin: 1.3em 0;
  border-color: transparent;
  cursor: pointer;
}
.jumbotron {
  width: 100%;
  max-height: 700px;
}
article {
  margin: 4em 0;
  color: #333333;
}
section {
  margin: 1em 8em;
  color: #333333;
}
.title {
  text-align: center;
  color: #0277bd;
  font-size: 2em;
}
hr {
  margin: 1em auto;
  width: 30%;
  height: 0.25em;
  background-color: #023655;
  border-radius: 25px;
  border-style: none;
}
.advantage-box,
.destination-box {
  display: flex;
  gap: 2em;
  margin-top: 4em;
}
.advantage,
.destination {
  margin: 1em 0;
}
.advantage i {
  color: #0277bd;
  font-size: 5em;
  margin: 0.3em 0;
}
.advantage h2 {
  color: #0277bd;
  font-size: 1.7em;
  text-align: left;
  margin-bottom: 1em;
}
.advantage span {
  color: #333333;
}
.destination-box {
  margin-top: 1em !important;
}
.destination img {
  width: 100%;
  height: 100%;
  max-width: 350px;
  max-height: 350px;
  border-radius: 1em;
}
.destination-box .destination span {
  font-size: 2vw;
  color: #fff;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: -2em;
}
.d1 {
  margin-top: 4em !important;
}
#cta {
  display: flex;
  background-color: #023655;
  padding: 2em 0;
  align-items: center;
}
#cta section h2 {
  color: #fff;
  font-size: 2em;
}
#cta section p {
  color: #fff;
  margin: 1em 1em 1em 0;
}
#title-cta {
  width: 25%;
  margin-right: 2em;
}
form {
  background-color: #0277bd;
  padding: 1.5em;
  width: 25%;
  margin-left: auto;
  border-radius: 1em;
}

form input {
  display: block;
  width: 100%;
  border-radius: 1em;
  margin: 1em 0;
  padding: 0.5em;
  border-style: none;
}
input[type="checkbox"] {
  width: auto;
  display: inline !important;
  margin: 0;
}
#check {
  color: #fff;
}

#submit-form {
  display: block;
  border-style: none;
  border-radius: 1em;
  padding: 0.5em;
  margin: 1.1em 0;
  font-weight: bold;
  width: 100%;
  font-size: 1em;
  background-color: #ffa458;
  color: #fff;
}
footer {
  background-color: #0277bd;
  display: block;
  text-align: center;
  font-size: 1.2em;
  color: #fff;
  padding: 1em;
}
footer a {
  text-decoration: none;
  color: red;
  font-weight: bold;
}
/* media queries (mw-768px) */
@media (max-width: 768px) {
  .nav {
    display: block;
    padding: 0;
  }
  .nav-item {
    padding: 0.4em 2em;
  }
  .hamburger {
    display: block;
  }
  .menu-links {
    display: block;
    text-align: center;
    background-color: #e8e8e8;
  }
  .menu-links li a {
    color: #333333;
  }
  .hide {
    display: none;
  }
  .submenu-links i {
    color: #555;
  }
  .dropdown {
    position: relative;
    top: 1.5em;
  }
  .menu-links .dropdown {
    margin: 0 -2em;
  }
  .menu-links .btn {
    display: none;
  }
  .jumbotron {
    width: 100%;
    max-height: 550px;
  }
  section {
    margin: 1em 6.5em;
  }
  .advantage-box,
  .destination-box {
    display: block;
  }
  .advantage,
  .destination {
    margin: 3em 0;
  }
  .destination {
    text-align: center;
  }
  .destination img {
    width: 100%;
    height: 100%;
    max-width: 550px;
    max-height: 550px;
  }
  .destination-box .destination span {
    font-size: 5vw;
  }
  #cta {
    display: block;
  }
  #title-cta {
    width: auto;
  }
  form {
    width: 50%;
    margin: 3em auto;
  }
}
/* media queries (mw-425) */
@media (max-width: 425px) {
  section {
    margin: 1em 1.5em;
  }
  .title {
    font-size: 1.5em;
  }
}
